body,
.header,
.container,
.card-body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  background-color: #1f2937;
  color: white;
  padding: 15px 50px 15px 50px;
}

.header-top {
  display: flex;
}

.header-top img {
  height: 70px;
  align-content: flex-start;
}

.header-top a {
  padding: 3px;
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  align-self: center;
  justify-self: center;
}

.header-link {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header-content {
  padding-top: 50px;
  display: flex;
}

.header-content h1 {
  color: #f9faf8;
  font-size: 38px;
  font-weight: 900;
}

.header-content img {
  height: 200px;
}

.left p {
  padding-right: 10px;
}

.body,
.card-body {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.body h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 800;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  max-width: 210px;
}

.card img {
  align-self: center;
  border: solid;
  border-color: #3882f6;
  border-radius: 8px;
  border-width: 3px;
  width: 120px;
  height: auto;
}

.card p {
  text-align: center;
  font-size: 18px;
  color: #6c6e72;
}

.card-body {
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
}
