body,
.header {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  background-color: #1f2937;
  color: white;
}

.header-top {
  display: flex;
  padding: 15px 50px 50px 50px;
}

.header-top img {
  height: 70px;
  align-content: flex-start;
}

.header-top a {
  padding: 3px;
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  align-self: center;
  justify-self: center;
}

.header-link {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
